.card {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 36px;
}
.card--info {
  margin-left: 20px;
}
.card--img {
  width: 125px;
  height: 168px;
  object-fit: cover;
  border-radius: 5px;
}
.card--info {
  font-size: 10.24px;
  width: 326px;
}
.card-date {
  font-weight: bold;
}
.card-name {
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
}
.card--info a {
  color: #918E9B;
  margin-left: 12px;
}
.card--info span {
  letter-spacing: 2px;
}
.header {
  height: 55px;
  background-color: #F55A5A;
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.header p{
  margin-left: 2px;
}